.seccion {
    width: 100%;
    padding: 3rem 0 6rem;
    background-color: #2C5E91;
    color: var(--color-white);
}

.seccion-container {
    display: grid;
    gap: 1.5rem;
    align-items: center;
}

.seccion-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.seccion-title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    color: white;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:30px;
    text-align: center;
    margin: 100px;
}
table {
    width: 900px;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}
thead {
    background-color:#BFCEE0;
    color: black;
    text-align: left;
}
th {
    padding: 12px;
    text-transform: uppercase;
    background-color: #BFCEE0;
    font-size: 16px;
}
tbody tr {
    border-bottom: 1px solid #ddd;
    transition: background 0.3s ease-in-out;
}
tbody tr:hover {
    background-color: #f5f5f5;
}
td {
    padding: 12px;
}
button {
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 5px;
    transition: transform 0.2s, opacity 0.3s;
}
.btn-actualizar {
    background-color:#85B185;
    color: white;
}
.btn-actualizar:hover {
    background-color: #85B185;
    transform: scale(1.05);
}
.btn-borrar {
    background-color: #F58C35;
    color: white;
}
.btn-borrar:hover {
    background-color:#FAAB32;
    color: black;
    transform: scale(1.05);
}
.agregarProducto {
    background-color:#E4A60E;
    color: black;
    margin-bottom: 60px;
}
.agregarProducto:hover {
    background-color: #E4A60E;
    transform: scale(1.05);
}
/* -----------diseno imput */
.buscador-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.input-busqueda {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-busqueda:focus {
    border-color:  #3F3128;
}

.icono-busqueda {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #007bff;
    font-size: 18px;
}
/* ///////////////se termina diseno imput  */

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

input:focus {
    border-color:  #333;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

button {
    background: #85B185;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #251D16;
}
.volverTrucu{
    margin: 20px
}
.volverTrucu:hover {
    transform: scale(1.05);
}
.tipo{
    font-size: 12px;
    color: gray;
}
