<header>
    <div class="container header-container">
        <div class="logo">
            <img class="logo-img" src="/LOGO.png" alt="Logo">
        </div>
        <button class="hamburger" (click)="toggleMenu()">☰</button>
        <div class="nav-container" [ngClass]="{ 'active': menuOpen }">
            <nav class="nav-menu">
                <a routerLink="" (click)="closeMenu()">Inicio</a>
                <a routerLink="catalogo" (click)="closeMenu()">Catálogo</a>
                <a routerLink="sobre-nosotros" (click)="closeMenu()">Sobre Nosotros</a>
                <a routerLink="contacto" (click)="closeMenu()">Contacto</a>
            </nav>
        </div>
        <div class="header-actions">
            <div class="redes">
                <a href="https://wa.me/573166261746" target="_blank"><img src="/whatsapp.png" alt="WhatsApp"></a>
                <a href="https://www.facebook.com/trazosde.fuego" target="_blank"><img src="/facebook.png" alt="Facebook"></a>
                <a href="https://www.instagram.com/trazosfuego?igsh=MThzZHhyNGNzMWZwNA%3D%3D" target="_blank"><img src="/instagram.png" alt="Instagram"></a>
            </div>
        </div>
    </div>
</header>
