header {
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
    position: sticky;
    height: 86px;
    top: 0;
    z-index: 1000;
}
.hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}
.header-container {
    max-width: 1200px;
    margin: auto;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.logo-img {
    height: 70px;
}
.menu-button {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
}
.nav-menu {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex: 1;
}
.nav-menu a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: color 0.3s;
}
.nav-menu a:hover,
.nav-menu a.active {
    font-weight: bold;
}
.header-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.redes img {
    height: 28px;
    margin-right: 1rem;
    transition: transform 0.3s;
}
.redes img:hover {
    transform: scale(1.1);
}
.icon-button {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: black;
}
@media (max-width: 1057px) {
    .logo {
        display: none;
    }
    .hamburger {
        display: flex;
        justify-content: center;
        align-items: center; 
        color: black;
        z-index: 1001;
        margin-left: 5%;
        
    }
    .nav-container {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 86px;
        left: 0;
        background-color: rgba(242, 242, 242, 0.9);
        width: 100%;
        padding: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }
    .nav-container.active {
        display: flex;
    }
    .nav-links a {
        display: flex;
        flex-direction: column !important;
        gap: 1rem;
        text-decoration: none;
        color: black;
        transition: all 0.2s ease;
    }   
    .nav-links a:hover {
        font-weight: bold; 
        color: black;
        transform: translateX(4px); 
    }
    .nav-menu {
        display: flex;
        flex-direction: column; /* 👈 Cambia a columna */
        gap: 1rem;
        padding: 0;
        margin: 0;
    }
    .redes {
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
    }
}

