<section class="seccion">
    <div class="container seccion-container">
        <div class="seccion-content">
            <h1 class="seccion-title">Bienvenido a Administración Principal</h1>
        </div>
    </div>
</section>

<div class="admin-container">
    <table class="table table-bordered text-center admin-table">
        <thead>
            <tr>
                <th class="tabla">Sección</th>
                <th class="tabla">Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Administrar productos</td>
                <td><button class="btn" routerLink="/admi-productos">Ir</button></td>
            </tr>
            <tr>
                <td>Administrar mensajes</td>
                <td><button class="btn" routerLink="/admi-contactos">Ir</button></td>
            </tr>
        </tbody>
    </table>

    <button class="btn-logout" (click)="logout()">Cerrar sesión</button>
</div>

