.seccion {
    width: 100%;
    padding: 3rem 0 6rem;
    background-color: #2C5E91;
    color: var(--color-white);
}

.seccion-container {
    display: grid;
    gap: 1.5rem;
    align-items: center;
}

.seccion-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.seccion-title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    color: white;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4%;
    font-size: 34px;
    font-family: "Dancing Script", cursive;
    transition: all 0.2s ease;
}

.titulo:hover {
    font-weight: bold;
    transform: translateX(5px);
}

.tabla {
    background-color: #BFCEE0;
    color:black;
    font-size: 16px;
    font-weight: none;
}

.btn {
    border-color: #BFCEE0;
    background-color:#BFCEE0;
    color:black;
    font-size: 16px;
    transition: all 0.2s ease;
}
.btn:hover {
    background-color: #2C5E91;
    transform: translateX(5px);
}
.table {
    margin: 6%;
}
td {
    font-size: 16px;
}