.seccion {
    width: 100%;
    padding: 3rem 0 6rem;
    background-color: #2C5E91;
    color: var(--color-white);
}

.seccion-container {
    display: grid;
    gap: 1.5rem;
    align-items: center;
}

.seccion-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.seccion-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    color: white;
}

/*  Cartas */
.products-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin: 3rem 0;
}
.center-button {
    display: flex;
    justify-content: center;
}

.product-card {
    border: 1px solid var(--color-gray-300);
    border-radius: 0.5rem;
    overflow: hidden;
    transition: all 0.2s;
    background-color: var(--color-white);
}

.product-card:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 100%;
    height: 12rem;
    overflow: hidden;
}
.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}
.product-image img:hover {
    transform: scale(1.05);
}

.product-content {
    padding: 1rem;
}

.product-title {
    font-size: 1.125rem;
    color: black;
    transition: color 0.3s;
    text-decoration: none;
}

.product-title:hover {
    font-weight: bold;
}

.product-price {
    font-size: 1rem;
    color: var(--color-secondary);
    margin-bottom: 1rem;
}

.product-footer {
    padding: 0 1rem 1rem;
}

.btn-full {
    width: 100%;
    background-color: #2C5E91;
    color: white;
}
.btn-blue:hover{
    border-color: #2C5E91;
    background-color: white;
    color: black;
}

@media (min-width: 640px) {
    .seccion-title {
        font-size: 2.5rem;
    }
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .seccion {
        padding: 6rem 0;
    }

    .seccion-container {
        grid-template-columns: 1fr 1fr;
    }

    .seccion-title {
        font-size: 3rem;
    }
}

@media (min-width: 1024px) {
    .products-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}