<section class="seccion">
    <div class="container seccion-container">
        <div class="seccion-content">
            <h1 class="seccion-title">Catálogo</h1>
        </div>
    </div>
</section>

<div class="products-grid">
    <!-- Product Card 1 -->
    <div class="product-card">
        <div class="product-image">
            <a [routerLink]="['/galeria-tipos/accesorios']">
            <img src="/accesorios17.jpeg" alt="Medalla de Honor">
            </a>
        </div>
        <div class="product-content">
            <a class="product-title" href="/productos/accesorios" [routerLink]="['/galeria-tipos/accesorios']" >
            <h3 class="product-title">Ejercito Nacional Accesorios</h3>
            </a>
            <p class="product-price">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar.</p>
        </div>
        <div class="product-footer">
            <button [routerLink]="['/galeria-tipos/accesorios']"  class="btn btn-blue btn-full">Ver mas</button>
        </div>
    </div>

<!-- Product Card 2 -->
    <div class="product-card">
        <div class="product-image">
            <a [routerLink]="['/galeria-tipos/artilleria']" >
            <img src="/arquilleria1.jpeg" alt="Escudo Institucional">
            </a>
        </div>
        <div class="product-content">
            <a class="product-title" [routerLink]="['/galeria-tipos/artilleria']" >
            <h3 class="product-title">Ejercito Nacional Artilleria</h3>
            </a>
            <p class="product-price">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar.</p>
        </div>
        <div class="product-footer">
            <button class="btn btn-blue btn-full" [routerLink]="['/galeria-tipos/artilleria']" >Ver mas</button>
        </div>
    </div>

<!-- Product Card 3 -->
    <div class="product-card">
        <div class="product-image">
            <a [routerLink]="['/galeria-tipos/aviacion']">
            <img src="/aviacion2.jpeg" alt="Medalla Conmemorativa">
            </a>
        </div>
        <div class="product-content">
            <a class="product-title" [routerLink]="['/galeria-tipos/aviacion']">
            <h3 class="product-title">Ejercito Nacional Aviacion</h3>
            </a>
            <p class="product-price">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar.</p>
        </div>
        <div class="product-footer">
            <button class="btn btn-blue btn-full" [routerLink]="['/galeria-tipos/aviacion']">Ver mas</button>
        </div>
    </div>
    <!-- Product Card 4 -->
    <div class="product-card">
        <div class="product-image">
            <a [routerLink]="['/galeria-tipos/caballeria']">
            <img src="caballeria1.jpeg" alt="Medalla de Honor">
            </a>
        </div>
        <div class="product-content">
            <a class="product-title" [routerLink]="['/galeria-tipos/caballeria']">
            <h3 class="product-title">Ejercito Nacional Caballeria</h3>
            </a>
            <p class="product-price">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar.</p>
        </div>
        <div class="product-footer">
            <button class="btn btn-blue btn-full" [routerLink]="['/galeria-tipos/caballeria']">Ver mas</button>
        </div>
    </div>
    
    <!-- Product Card 5 -->
    <div class="product-card">
        <div class="product-image">
            <a [routerLink]="['/galeria-tipos/comunicaciones']">
            <img src="comunicaciones6.jpeg" alt="Escudo Institucional">
            </a>
        </div>
        <div class="product-content">
            <a class="product-title" [routerLink]="['/galeria-tipos/comunicaciones']">
            <h3 class="product-title">Ejercito Nacional Comunicaciones</h3>
            </a>
            <p class="product-price">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar.</p>
        </div>
        <div class="product-footer">
            <button class="btn btn-blue btn-full" [routerLink]="['/galeria-tipos/comunicaciones']">Ver mas</button>
        </div>
    </div>
    
    <!-- Product Card 6 -->
    <div class="product-card">
        <div class="product-image">
            <a class="product-title" [routerLink]="['/galeria-tipos/esculturas-militares']" >
            <img src="esculturas9.jpeg" alt="Medalla Conmemorativa">
            </a>
        </div>
        <div class="product-content">
            <a class="product-title" [routerLink]="['/galeria-tipos/comunicaciones']">
            <h3 class="product-title">Ejercito Nacional Esculturas</h3>
            </a>
            <p class="product-price">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar.</p>
        </div>
        <div class="product-footer">
            <button class="btn btn-blue btn-full" [routerLink]="['/galeria-tipos/esculturas-militares']">Ver mas</button>
        </div>
    </div>

    <!-- Product Card 7 -->
    <div class="product-card">
        <div class="product-image">
            <a [routerLink]="['/galeria-tipos/espro']">
            <img src="espro8.jpeg" alt="Medalla Conmemorativa">
            </a>
        </div>
        <div class="product-content">
            <a class="product-title" [routerLink]="['/galeria-tipos/comunicaciones']">
            <h3 class="product-title">Ejercito Nacional Espro</h3>
            </a>
            <p class="product-price">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar.</p>
        </div>
        <div class="product-footer">
            <button class="btn btn-blue btn-full" [routerLink]="['/galeria-tipos/espro']">Ver mas</button>
        </div>
    </div>

    <!-- Product Card 8 -->
    <div class="product-card">
        <div class="product-image">
            <a [routerLink]="['/galeria-tipos/infanteria']">
            <img src="infanteria5.jpeg" alt="Medalla Conmemorativa">
            </a>
        </div>
        <div class="product-content">
            <a class="product-title" [routerLink]="['/galeria-tipos/infanteria']">
            <h3 class="product-title">Ejercito Nacional Infanteria</h3>
            </a>
            <p class="product-price">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar.</p>
        </div>
        <div class="product-footer">
            <button class="btn btn-blue btn-full" [routerLink]="['/galeria-tipos/infanteria']">Ver mas</button>
        </div>
    </div>

    <!-- Product Card 9 -->
    <div class="product-card">
        <div class="product-image">
            <a [routerLink]="['/galeria-tipos/ingenieros']">
            <img src="ingenieros2.jpeg" alt="Medalla Conmemorativa">
            </a>
        </div>
        <div class="product-content">
            <a class="product-title" [routerLink]="['/galeria-tipos/ingenieros']">
            <h3 class="product-title">Ejercito Nacional Ingenieros</h3>
            </a>
            <p class="product-price">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar.</p>
        </div>
        <div class="product-footer">
            <button class="btn btn-blue btn-full" [routerLink]="['/galeria-tipos/ingenieros']">Ver mas</button>
        </div>
    </div>

    <!-- Product Card 10 -->
    <div class="product-card">
        <div class="product-image">
            <a [routerLink]="['/galeria-tipos/inteligencia']">
            <img src="inteligencia2.jpeg" alt="Medalla Conmemorativa">
            </a>
        </div>
        <div class="product-content">
            <a class="product-title" [routerLink]="['/galeria-tipos/inteligencia']">
            <h3 class="product-title">Ejercito Nacional Inteligencia</h3>
            </a>
            <p class="product-price">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar.</p>
        </div>
        <div class="product-footer">
            <button class="btn btn-blue btn-full"  [routerLink]="['/galeria-tipos/inteligencia']">Ver mas</button>
        </div>
    </div>

    <!-- Product Card 11 -->
    <div class="product-card">
        <div class="product-image">
            <a [routerLink]="['/galeria-tipos/logistica']">
            <img src="accesorios.jpeg" alt="Medalla Conmemorativa">
            </a>
        </div>
        <div class="product-content">
            <a class="product-title" [routerLink]="['/galeria-tipos/logistica']">
            <h3 class="product-title">Ejercito Nacional Logistica</h3>
            </a>
            <p class="product-price">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar.</p>
        </div>
        <div class="product-footer">
            <button class="btn btn-blue btn-full" [routerLink]="['/galeria-tipos/logistica']">Ver mas</button>
        </div>
    </div>
</div>