<section class="seccion">
    <div class="container seccion-container">
        <div class="seccion-content">
            <h1 class="seccion-title">Catálogo</h1>
        </div>
    </div>
</section>

<div class="products-grid">
    <!-- Product Card 1 -->
    <div class="product-card">
        <div class="product-image">
            <a href="/productos/medallas/1">
            <img src="/accesorios17.jpeg" alt="Medalla de Honor">
            </a>
        </div>
        <div class="product-content">
            <a class="product-title" href="/productos/medallas/1">
            <h3 class="product-title">Ejercito Nacional Accesorios</h3>
            </a>
            <p class="product-price">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar.</p>
        </div>
        <div class="product-footer">
            <button class="btn btn-blue btn-full">Ver mas</button>
        </div>
    </div>

<!-- Product Card 2 -->
    <div class="product-card">
        <div class="product-image">
            <a href="/productos/escudos/5">
            <img src="/arquilleria1.jpeg" alt="Escudo Institucional">
            </a>
        </div>
        <div class="product-content">
            <a class="product-title" href="/productos/escudos/5">
            <h3 class="product-title">Ejercito Nacional Artilleria</h3>
            </a>
            <p class="product-price">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar.</p>
        </div>
        <div class="product-footer">
            <button class="btn btn-blue btn-full">Ver mas</button>
        </div>
    </div>

<!-- Product Card 3 -->
    <div class="product-card">
        <div class="product-image">
            <a href="/productos/medallas/3">
            <img src="/aviacion2.jpeg" alt="Medalla Conmemorativa">
            </a>
        </div>
        <div class="product-content">
            <a class="product-title" href="/productos/medallas/3">
            <h3 class="product-title">Ejercito Nacional Aviacion</h3>
            </a>
            <p class="product-price">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar.</p>
        </div>
        <div class="product-footer">
            <button class="btn btn-blue btn-full">Ver mas</button>
        </div>
    </div>
    <!-- Product Card 4 -->
    <div class="product-card">
        <div class="product-image">
            <a href="/productos/medallas/1">
            <img src="caballeria1.jpeg" alt="Medalla de Honor">
            </a>
        </div>
        <div class="product-content">
            <a class="product-title" href="/productos/medallas/1">
            <h3 class="product-title">Ejercito Nacional Caballeria</h3>
            </a>
            <p class="product-price">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar.</p>
        </div>
        <div class="product-footer">
            <button class="btn btn-blue btn-full">Ver mas</button>
        </div>
    </div>
    
    <!-- Product Card 5 -->
    <div class="product-card">
        <div class="product-image">
            <a href="/productos/escudos/5">
            <img src="comunicaciones6.jpeg" alt="Escudo Institucional">
            </a>
        </div>
        <div class="product-content">
            <a class="product-title" href="/productos/escudos/5">
            <h3 class="product-title">Ejercito Nacional Comunicaciones</h3>
            </a>
            <p class="product-price">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar.</p>
        </div>
        <div class="product-footer">
            <button class="btn btn-blue btn-full">Ver mas</button>
        </div>
    </div>
    
    <!-- Product Card 6 -->
    <div class="product-card">
        <div class="product-image">
            <a class="product-title" href="/productos/medallas/3">
            <img src="esculturas9.jpeg" alt="Medalla Conmemorativa">
            </a>
        </div>
        <div class="product-content">
            <a class="product-title" href="/productos/medallas/3">
            <h3 class="product-title">Ejercito Nacional Esculturas</h3>
            </a>
            <p class="product-price">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar.</p>
        </div>
        <div class="product-footer">
            <button class="btn btn-blue btn-full">Ver mas</button>
        </div>
    </div>

    <!-- Product Card 7 -->
    <div class="product-card">
        <div class="product-image">
            <a href="/productos/medallas/3">
            <img src="espro8.jpeg" alt="Medalla Conmemorativa">
            </a>
        </div>
        <div class="product-content">
            <a class="product-title" href="/productos/medallas/3">
            <h3 class="product-title">Ejercito Nacional Espro</h3>
            </a>
            <p class="product-price">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar.</p>
        </div>
        <div class="product-footer">
            <button class="btn btn-blue btn-full">Ver mas</button>
        </div>
    </div>

    <!-- Product Card 8 -->
    <div class="product-card">
        <div class="product-image">
            <a href="/productos/medallas/3">
            <img src="infanteria5.jpeg" alt="Medalla Conmemorativa">
            </a>
        </div>
        <div class="product-content">
            <a class="product-title" href="/productos/medallas/3">
            <h3 class="product-title">Ejercito Nacional Infanteria</h3>
            </a>
            <p class="product-price">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar.</p>
        </div>
        <div class="product-footer">
            <button class="btn btn-blue btn-full">Ver mas</button>
        </div>
    </div>

    <!-- Product Card 9 -->
    <div class="product-card">
        <div class="product-image">
            <a href="/productos/medallas/3">
            <img src="ingenieros2.jpeg" alt="Medalla Conmemorativa">
            </a>
        </div>
        <div class="product-content">
            <a class="product-title" href="/productos/medallas/3">
            <h3 class="product-title">Ejercito Nacional Ingenieros</h3>
            </a>
            <p class="product-price">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar.</p>
        </div>
        <div class="product-footer">
            <button class="btn btn-blue btn-full">Ver mas</button>
        </div>
    </div>

    <!-- Product Card 10 -->
    <div class="product-card">
        <div class="product-image">
            <a href="/productos/medallas/3">
            <img src="inteligencia2.jpeg" alt="Medalla Conmemorativa">
            </a>
        </div>
        <div class="product-content">
            <a class="product-title" href="/productos/medallas/3">
            <h3 class="product-title">Ejercito Nacional Inteligencia</h3>
            </a>
            <p class="product-price">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar.</p>
        </div>
        <div class="product-footer">
            <button class="btn btn-blue btn-full">Ver mas</button>
        </div>
    </div>

    <!-- Product Card 11 -->
    <div class="product-card">
        <div class="product-image">
            <a href="/productos/medallas/3">
            <img src="accesorios.jpeg" alt="Medalla Conmemorativa">
            </a>
        </div>
        <div class="product-content">
            <a class="product-title" href="/productos/medallas/3">
            <h3 class="product-title">Ejercito Nacional Logistica</h3>
            </a>
            <p class="product-price">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar.</p>
        </div>
        <div class="product-footer">
            <button class="btn btn-blue btn-full">Ver mas</button>
        </div>
    </div>
</div>