.seccion {
    width: 100%;
    padding: 3rem 0 6rem;
    background-color: #2C5E91;
    color: var(--color-white);
}

.seccion-container {
    display: grid;
    gap: 1.5rem;
    align-items: center;
}

.seccion-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.seccion-title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    color: white;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% 7% 4% 7%;
}
.btn {
    background-color: #F58C35;
    color: white;
}
.btn:hover {
    background-color: #FAAB32;
    color: black;

}
.volverTrucu{
    margin: 20px
}
.volverTrucu:hover {
    transform: scale(1.05);
}