<section class="seccion">
    <div class="container seccion-container">
        <div class="seccion-content">
            <h1 class="seccion-title">Administrar Mensajes</h1>
        </div>
    </div>
</section>

<div class="contenedor">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Mensaje</th>
                <th scope="col">Celular</th>
                <th scope="col">Respondido</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mensaje of mensajes"> 
                <td>{{mensaje.nombre}}</td>
                <td>{{mensaje.correo}}</td>
                <td>{{mensaje.mensaje}}</td>
                <td>{{mensaje.celular}}</td>
                <td>
                    <button (click)="deleteMessage(mensaje._id)" class="btn">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<button routerLink="/principalAdmi"  class="volverTrucu" style="padding: 10px 20px; background-color: #919191; color: black; border: none; border-radius: 5px;">
    ← Admi.TrazosdeFuego
</button>


<!-- moda agregar -->
<!-- 
<div class="modal fade" id="exampleModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar un producto</h1>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="crear()" enctype="multipart/form-data"  aria-hidden="false">
                    <input  #myInput type="text" [(ngModel)]="producto.nombre" name="nombre" placeholder="Nombre" required />
                    <input  #myInput  type="text" [(ngModel)]="producto.descripcion" name="descripcion" placeholder="Descripción" required />
                    <input  #myInput type="text" [(ngModel)]="producto.tipo" name="tipo" placeholder="tipos" required />
                    <p class="tipo">EJ: retratos, paisajes, animales, textos-biblicos-románticos, avisos, notas-de-estilo, objetos-decorativos-utilitarios, llaveros-imagenes, trofeos-recordatorios, varios</p>
                    <input  #myInput type="file" (change)="onFileChange($event)" />
                    <button type="submit"  data-bs-dismiss="modal" >Crear producto</button>
                </form>
            </div>
        </div>
    </div>
</div>
 -->
