.seccion {
    width: 100%;
    padding: 3rem 0 6rem;
    background-color: #2C5E91;
    color: var(--color-white);
}

.seccion-container {
    display: grid;
    gap: 1.5rem;
    align-items: center;
}

.seccion-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.seccion-title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    color: white;
}

/* parrafos */
.parrafos-container {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #ffffff;
    color: black;
    font-family: 'Segoe UI', sans-serif;
}
.parrafo {
    font-size: 1.1rem;
    line-height: 1.8;
    font-weight: 400;
}

  /* Responsive */
@media (max-width: 768px) {
    .parrafo {
        font-size: 1rem;
        text-align: justify;
    }
}
@media (max-width: 480px) {
    .parrafo {
        font-size: 0.95rem;
    }
}

