.seccion {
    width: 100%;
    padding: 3rem 0 6rem;
    background-color: #2C5E91;
    color: var(--color-white);
}

.seccion-container {
    display: grid;
    gap: 1.5rem;
    align-items: center;
}

.seccion-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.seccion-title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    color: white;
}

form{
    width: 600px;
    margin: 2% 0 2% 0;
    border: 2px solid gray;
    border-radius: 10px; 
    background-color: #fff;
    padding: 20px;
}
.formulario {
    display: flex;
    justify-content: center;
}
.btn {
    background-color: #2C5E91;
    color: white;
}
.btn:hover{
    background-color: #BFCEE0;
    color: black;
}
